{{#partial "content"}}
    <div class="jumbotron" id="finite">
        <h3 class="text-white">YOUR SQUAD HAS BEEN SUCCESSFULLY CREATED</h3>
        <a class="btn btn-info" href="/animals">View Saved Species</a>
    </div>
{{/partial}}

{{> layout.hbs}}
