{{#partial "content"}}
    <div class="jumbotron" id="finite">
        <h3 class="text-white">ANIMAL SUCCESSFULLY CREATED</h3>
        <a class="btn btn-info" href="/newanimal">View Wildlife</a>
    </div>
{{/partial}}

{{> layout.hbs}}
