{{#partial "content"}}
    <div class="jumbotron" id="finite">
        <h3 class="text-white">YOUR SIGHTING WAS SUCCESSFULLY SAVED</h3>
        <a class="btn btn-info" href="/saved">View Recent Sightings</a>
    </div>
{{/partial}}

{{> layout.hbs}}
