{{#partial "content"}}
    <div class="row">
        <div class="col-12">
            <div class="mask rgba-black-light align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="indexRow">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4 white-text text-center">
                        <h1 class="h1-reponsive text-warning text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animate shake"><strong> Wildlife Tracker<i class="fas fa-satellite-dish animate rotateIn infinite"></i></strong></h1>
                        <h4 class="text-monospace  typeClass"><strong id="type"></strong> <i class="fas fa-bolt"></i></h4>
                        </div>
        </div>
            </div>
            </div>
        </div>
        <hr/>
        <br/>
        <br/>
        <div class="col-md-4 col-4" >
            <div class="view overlay">
                <img class="card-img-top" src="images/geran-de-klerk-bKhETeDV1WM-unsplash.jpg" alt="Card image cap" >
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body">

                <!-- Social shares button -->
                <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
                <!-- Title -->
                <h4 class="card-title text-white">Endangered Animals</h4>
                <hr>
                <!-- Text -->
                <h3 class="card-text text-warning">Endangered</h3>
                <!-- Link -->
                <a href="/endangerednew"  class="white-text d-flex justify-content-end"><h5>ADD <i class="fas fa-angle-double-right"></i></h5></a>
            </div>
            </div>
            <!-- Card Light -->
            <div class="col-md-4 col-4">
                <div class="view overlay">
                    <img class="card-img-top" src="images/harshil-gudka-wFj_uABQXjo-unsplash.jpg" alt="Card image cap" >
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!-- Card content -->
                <div class="card-body">

                    <!-- Social shares button -->
                    <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
                    <!-- Title -->
                    <h4 class="card-title text-white">Animal</h4>
                    <hr>
                    <!-- Text -->
                    <h3 class="card-text text-warning">Wild Animal</h3>
                    <!-- Link -->
                    <a href="/animalnew" class="white-text d-flex justify-content-end"><h5>ADD<i class="fas fa-angle-double-right"></i></h5></a>
                </div>
            </div>

        <div class="col-md-4 col-4">
            <div class="view overlay">
                <img class="card-img-top" src="images/alicia-steels-5AxRCxe_fa0-unsplash.jpg" alt="Card image cap" >
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body">

                <!-- Social shares button -->
                <a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>
                <!-- Title -->
                <h4 class="card-title text-white">Sighting</h4>
                <hr>
                <!-- Text -->
                <h3 class="card-text text-warning">Report Sighting</h3>
                <!-- Link -->
                <a href="/sightings" class="white-text d-flex justify-content-end"><h5>REPORT<i class="fas fa-angle-double-right"></i></h5></a>
            </div>
        </div>
        </div>
    </div>

{{/partial}}

{{>layout.hbs}}