{{#partial "content"}}
    <div class="row">
        <div class="col">
            <div class="container">
                {{#if sightings}}
                    {{#each sightings}}
                        <div class="main">
                            <p>Animal Name: {{animalname}}</p>
                            <p>Sight Location: {{location}}</p>
                            <p>Ranger Name: {{rangername}}</p>
                        </div>
                    {{/each}}
                {{else}}
                    <a href="/sightings" class="btn btn-info">Report Sighting</a>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}