{{#partial "content"}}
    <div class="row">
        <div class="col">
            <div class="container">
                {{#if animals}}
                    {{#each animals}}
                        <div class="main">
                            <p>Animal Name: {{name}}</p>
                            <a class="btn btn-primary" href="/edit">EDIT</a>
                            <a class="btn btn-danger" href="/delete">DELETE</a>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}